.pgn__data-table {
    table-layout: fixed;
}

.feedback-truncated {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.feedback-expanded {
    white-space: normal;
    word-wrap: break-word;
}

.more-less-btn {
    text-decoration: none;
}